.css-j5r0tf {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #553f6f;
}

.diagnosis {
   color: #fff; 
   padding: 0.2em 0.5em;
   border-radius: 0.5em;
}

.diagnosis.benign {
    background-color: #17b13b;
}

.diagnosis.malignant {
    background-color: #b11717;
}